body {
    background-color: #eee;
    color: #333;
}

.block {
    position: relative;
    width: 800px;
    height: 100px;
    margin: 50px auto;
    padding: 10px;
    background-color: #243441;
    color: #FFD52E;
    border: 2px solid #FFD52E;
    border-bottom: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block::before {
    content: '';
    position: absolute;
    top: 98px;
    left: 0;
    width: 0;
    height: 0;

    border-top: 30px solid #243441;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
}

ul {
    list-style-type: none;
}

.dir span {
    display: block;
    margin: 3px;
    padding: 5px;
    background-color: limegreen;
    color: darkslategrey;
    font-size: 24px;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.file span {
    display: block;
    margin-left: 10px;
    padding: 5px;
    background-color: lightgrey;
    color: darkslategrey;
    font-size: 16px;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li.dir > span {
    text-align: left;
    text-transform: uppercase;
    font-family: Tahoma, Verdana;
    font-weight: 600;
}